.black-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 12px 37px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.black-button:hover {
    background-color: #0c0c0c;
}

.black-button:active {
    transform: scale(0.95);
}
