.black-button {
    background-color: #000; /* Cor preta */
    color: #fff; /* Cor branca do texto */
    border: none;
    border-radius: 12px;
    padding: 12px 37px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.black-button:hover {
    background-color: #0c0c0c; /* Cinza escuro ao passar o mouse */
}

.black-button:active {
    transform: scale(0.95); /* Efeito de clique */
}
