

.main-review-container{
width: 85vw;
}
.grid-container {
  display: grid;
  margin-bottom: 15rem;
  grid-template-rows: repeat(2, 50vh);
  gap: 20px;
}


.card {
  background-color: #f4f4f4;
  border-radius: 15px;
  border: #fff solid 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.card p{
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.4;
  color: var(--sub-title-color);
  font-family: "Inter", sans-serif;
  text-align: start;
}

.container-main-review-content{
  display: flex;
 flex-direction: column;
 gap: 20px;

}


.card-header-review {
  display: flex;
  align-items: center;
}


.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}


.name {
  font-size: 20px;
  color: #333333;
}


.testimonial {
  flex-grow: 1;
  font-size: 16px;
  color: #555555;
  margin: 10px 0;
  text-align: center;
}


.stars {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  gap: 10px;
  color: #FFD700;
}


.card2 {
  grid-row: 1 / span 2;
 
}


.card1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.card4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.card6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
