/* Layout geral */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabeçalho */
.header {
  background-color: transparent; /* Transparente por padrão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  color: white; /* Cor do texto por padrão */
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
}

.header.scrolled {
  background-color: #fff; /* Branco quando rolado */
  color: #333; /* Cor do texto escuro quando rolado */
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between; /* Espaço entre logo e botões */
  align-items: center; /* Alinhamento vertical dos itens */
  width: 85vw; /* Ocupa toda a largura */
}

/* Logo à esquerda */
.logo {
  flex: 1; /* Faz com que o logotipo fique alinhado à esquerda */
}

/* Botões à direita */
.nav-buttons {
  display: flex;
  gap: 1rem; /* Espaçamento entre os botões */
  margin-left: auto; /* Move os botões para a direita */
  align-items: center; /* Alinha verticalmente com o cabeçalho */
}

/* Rodapé */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
/* Estilos para o menu de perfil */
.profile-menu {
  position: relative;
  display: inline-block;
}

.profile-menu .nav-button {
  cursor: pointer;
  padding: 10px;
  background-color: transparent; /* Torna o fundo transparente */
  border: 1px solid transparent; /* Borda transparente */
  border-radius: 5px; /* Bordas arredondadas */
  color: #000; /* Cor do texto */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para o fundo e borda */
}

.profile-menu .dropdown-content {
  display: block;
  position: absolute;
  right: 50%; /* Centraliza baseado na metade da largura do menu */
  transform: translateX(50%); /* Ajusta o posicionamento para centralizar */
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  top: 55px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Sombra para profundidade */
  opacity: 0; /* Inicialmente transparente */
  visibility: hidden; /* Inicialmente oculto */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transição suave para opacidade e visibilidade */
}

.profile-menu:hover .dropdown-content {
  opacity: 1; /* Torna visível ao passar o mouse */
  visibility: visible; /* Torna visível ao passar o mouse */
}

.dropdown-content .dropdown-item {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; /* Transição suave de hover */
}

.dropdown-content .dropdown-item:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
  cursor: pointer;
}

/* Ajuste para links dentro do dropdown */
.dropdown-content a.dropdown-item {
  color: #333; /* Cor do texto dos links */
}

.dropdown-content a.dropdown-item:hover {
  background-color: #e2e2e2; /* Cor de fundo ao passar o mouse nos links */
}
