.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #fff; /* Fundo da página */
}

.login-form {
    flex: 1; /* O formulário ocupa metade da parte esquerda da tela */
    display: flex;

    flex-direction: column; /* Alinha os itens em coluna */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto; /* Centraliza o formulário na parte disponível */
    max-width: 300px; /* Largura máxima do formulário */
}

.right-image {
    flex: 0.5; /* A imagem ocupa exatamente a metade direita da tela */
    width: 50vw; /* Define a largura exata para 50% da tela */
    height: 100vh; /* Altura total da tela */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    position: relative; /* Posição relativa para sobrepor o degradê */
}

.right-image img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorção */
}

.right-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, #fff 100%); /* Degradê da esquerda para a direita */
}
