
/* Container Principal */
.container-profile {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-weight: 500;
    background-color: #fff;
    min-height: 100vh;
    width: 85vw;
    margin-bottom: 50px;
}


.main-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
}
.user-info img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto;

}
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 20px;
}
.img-container-top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15%;
  
}

.img-container-top {
    width: 100vw; /* Largura completa da viewport */
    display: flex;
    justify-content: center;
    align-items: bottom;
    overflow: hidden; /* Evita o overflow */
    margin-bottom: 20px;
    height: 40vh /* Altura fixa */
}

.img-container-top img {
    width: 100%; /* Faz com que a imagem sempre preencha a largura do contêiner */
    /* Altura definida para cobrir a tela, ajuste conforme necessário */
    object-fit: cover; /* Garante que a imagem cubra a área toda sem distorcer */
}



/* Estilos para o Componente UserInfo */
.user-info {
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border: solid 5px #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 300px;
    position: relative;
    bottom: 134px;
}

.profile-image {
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.user-details {
    flex: 1;
}

.user-details h2 {
    margin-bottom: 10px;
    color: #000;
}

.user-details p {
    margin: 5px 0;
    color: #000;
}

/* Estilos para o Menu */
.menu {
    position: relative; /* Necessário para posicionar a barra deslizante */
    display: flex;
    justify-content: start;
    gap: 30px;
}
.menu-item {
    position: relative; /* Para facilitar a referência */
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background-color: #fff;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.1;
    font-weight: 532;
    letter-spacing: normal;
    font-optical-sizing: auto;
    font-variation-settings: "opsz" 85, "wonk" 0;
    color: var(--title-color);
}

.menu-item:hover {
}

.menu-item.active {
    color: #000; /* Cor diferente para o item ativo */
}

/* Barra Deslizante */
.slider {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #0fad51;
    transition: left 0.3s ease, width 0.3s ease;
    border-radius: 2px 2px 0 0;
}

/* Estilos para o Conteúdo */
.profile {
    width: 100%;
    background-color: #fff;
    padding-top: 50px;
    border-radius: 8px;
}

.menu-container{
    width: 75%;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}
.bio-text {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.4;
    color: var(--sub-title-color);
    font-family: "Inter", sans-serif;
}



.div-line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.div-line1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.user-name-container p {
    color: var(--sub-title-color);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}
.user-name-container h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    margin-bottom: 1rem;
    margin: 0;
    line-height: 1.1;
    font-weight: 532;
    letter-spacing: normal;
    font-optical-sizing: auto;
    font-variation-settings: "opsz" 85, "wonk" 0;
    color: var(--title-color);
}
.bio-container{
display: flex;
flex-direction: column;
gap: 10px;
}

.subtitle-container-info{
    font-size: 30px;
    margin-bottom: 1rem;
    margin: 0;
    line-height: 1.1; /* Melhor legibilidade */
    font-weight: 532; /* Valor válido (700 em vez de 764) */
    letter-spacing: normal;
    font-optical-sizing: auto; /* Habilita o ajuste óptico automático */
    font-variation-settings: "opsz" 85, "wonk" 0;  /* Define o tamanho óptico específico */
    color: var(--title-color);

}
.user-name-container {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente se necessário */
    margin: 0 auto; /* Mantém o contêiner centrado horizontalmente */
    text-align: center; /* Garante que o texto dentro dos parágrafos esteja centralizado */
}
/* Estilos para o Formulário de Configurações */
.settings-form-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-form label {
    display: block;
    color: #333;
}
.container-info-medium{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.settings-form input[type="text"],
.settings-form textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.settings-form textarea {
    resize: vertical;
    height: 100px;
}
/* Estilos específicos para o botão "Save text changes" */
.save-text-button {
    /* Defina a largura como automática para que o botão ajuste conforme o conteúdo */
    width: auto;
    
    /* Defina um padding para melhorar a aparência */
    padding: 10px 20px;
    
    /* Estilos de fundo e texto */
    background-color: var(--title-color);
    color: #fff;
    
    /* Remova bordas padrão e adicione bordas arredondadas */
    border: none;
    border-radius: 5px;
    
    /* Cursor pointer para indicar interatividade */
    cursor: pointer;
    
    /* Tamanho da fonte */
    font-size: 1rem;
    
    /* Transições para efeitos de hover e active */
    transition: background-color 0.3s ease, transform 0.2s ease;
    
    /* Margem opcional para espaçamento */
    margin-top: 10px;
}
.settings-form-text.settings-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os elementos */
}

.save-text-button {
    align-self: flex-start; /* Garante que o botão não cresça para ocupar a largura total */
}

/* Efeito de hover para o botão */
.save-text-button:hover {
    background-color: #333; /* Cor de fundo ao passar o mouse */
}

/* Efeito ao clicar no botão */
.save-text-button:active {
    transform: scale(0.95); /* Pequeno efeito de "pressão" */
}

.settings-form button {
    background-color: var(--title-color);
    border: 1px solid var(--title-color);
    color: #fff;  
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    padding: 10px 15px 10px 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: auto;
}
.first-button:hover{
    background-color: #333;
}
.settings-form button:hover {
    background-color: #252525;
}

.image-upload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-upload-form input[type="file"] {
    margin-bottom: 10px;
}

.image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
}
.container-info-user {
    width: 20%; /* 20% da largura do container principal para o user info */
}













.story-content2 {
 margin: 0;
}




/* Container Principal do Story */
.story-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    transition: box-shadow 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Efeito de Hover no Container */
.story-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container da Imagem */
.story-image {
    flex: 0 0 100px;
    margin-right: 15px;
}

.story-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}
.intro-img-container-input{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
/* Container do Conteúdo da História */
.story-content {
    flex: 1;
}
.button-submit-img{
margin-top: 20px;
}
.profile-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}



.profile-content h2{
    font-size: 30px;
    margin-bottom: 1rem;
    margin: 0;
    line-height: 1.1;
    font-weight: 532;
    letter-spacing: normal;
    font-optical-sizing: auto;
    font-variation-settings: "opsz" 85, "wonk" 0;
    color: var(--title-color);
}


.profile-content h2::after{ content: ''; /* Necessário para exibir o pseudo-elemento */
    display: block; /* Transforma o pseudo-elemento em um bloco para controlar a largura e altura */
    width: 50px; /* Largura da barra - ajuste conforme necessário */
    height: 3px; /* Altura da barra */
    background-color: #0fad51; /* Cor da barra - ajuste conforme necessário */
    margin-top: 5px; /* Espaçamento entre o título e a barra */
    border-radius: 2px; /* Bordas arredondadas para suavizar a barra */}
.settings-form h2::after {
    content: ''; /* Necessário para exibir o pseudo-elemento */
    display: block; /* Transforma o pseudo-elemento em um bloco para controlar a largura e altura */
    width: 50px; /* Largura da barra - ajuste conforme necessário */
    height: 3px; /* Altura da barra */
    background-color: #0fad51; /* Cor da barra - ajuste conforme necessário */
    margin-top: 5px; /* Espaçamento entre o título e a barra */
    border-radius: 2px; /* Bordas arredondadas para suavizar a barra */
  }

.story-content h3 {
    margin: 0 0 8px 0;
    font-size: 1.2em;
    color: #333;
}

.story-content p {
    margin: 5px 0;
    color: #555;
    font-size: 0.95em;
}

.story-content small {
    color: #888;
    font-size: 0.8em;
}

/* Responsividade para Telas Menores */
@media (max-width: 600px) {
    .story-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 90%;
    }

    .story-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .story-image img {
        width: 80px;
        height: 80px;
    }
}
.stories-grid-profile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;



}







/* Add the following styles to src/pages/Profile.css */
/* Add the following styles to src/pages/Profile.css */

/* Styles for the tab header containing the h2 and search bar */
.tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.search-bar-container {
    width: 25vw;    
    position: relative;
    overflow: hidden;
}

.search-bar-container input {
    width: 100%;  
    border: none; 
    padding: 12px 0px 12px 40px; /* Added left padding for SVG icon */
    font-size: 0.9em;
    transition: border-color 0.3s;

}
.search-bar-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
    transition: background-color 0.3s ease;
}

.search-bar-container input::placeholder {
    color: var(--sub-title-color);
    text-align: start;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: var(--title-color);
}
.search-bar-container:focus-within::after {
    background-color: #0fad51;
}
.search-bar-container input:focus {
    outline: none;
    /* Removed border-bottom as per instruction */
}
/* Responsive adjustments */
@media (max-width: 600px) {
    .tab-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar-container {
        width: 100%;
        margin-top: 10px;
    }

    .tab-header input {
        width: 100%;
    }
}

